* {
  font-family: $font-family;
}

.container {margin: 0 auto; max-width: $cw + px; width: 100%; height: 100%;
  @media (max-width:$wd1){padding: 0;}
  @media (max-width:$wd2){padding: 0;}
  @media (max-width:$cww){padding: 0 10px;}
  @media (max-width:$wd3){padding: 0 15px;}
  @media (max-width:$wdm){padding: 0 15px;}
}

.over-no {
  overflow: hidden;
}

.mark-up {
  margin-bottom: 11px;
  width: 74px;
  height: 5px;
  background-color: $accent-color;
  @media (max-width:$wd3) {
    margin-bottom: 4px;
  }
  @media (max-width:$wdm) {
    margin-bottom: 12px;
  }
}

.social {
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__link {
    &>svg {
      color: $accent-color;
    }
  }
}

.btn-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  border: 1px solid $border-color;
  border-radius: 50%;
  &.blue {
    border-color: $text-color;
    &:hover {
      border: 1px solid $footer-color;
    }
  }
  @media (max-width: 768px) {
    margin-left: 24px;
  }
  @media (max-width: $wdm) {
    margin-left: 22px;
    width: 44px;
    height: 44px;
  }
  &:hover {
    border: 1px solid $gray-color;
  }
}

h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 73px;
  color: $dark-color;
  @media (max-width: $wd3) {
    font-size: 45px;
    line-height: 55px;
  }
  @media (max-width: $wdm) {
    font-size: 30px;
    line-height: 37px;
  }
}

h2 {
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  color: $dark-color;
  @media (max-width: $wd3) {
    font-size: 30px;
    line-height: 51px;   
  }
  @media (max-width: $wdm) {
    font-size: 20px;
    line-height: 30px; 
  }
}

b {
  color: $accent-color;
}

.close {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 16px;
    left: 3px;
    width: 30px;
    height: 2px;
    background-color: $gray-color;
    transform: rotate(45deg);
    cursor: pointer;
  }
  &::before {
    transform: rotate(-45deg);
  }
}
