// base
$font-family: "Montserrat", sans-serif;

// colors
$light-color: #fff;
$dark-color: #000;
$accent-color: #e33e54;
$active-color: #ae2236;
$orange-color: #ea6628;
$gray-color: #b1b1b1;
$text-color: #4c858b;
$footer-color: #0c2f33;
$btn-color: #215359;
$border-color: #E5E5E5;

// width
$cw: 1220;
$mw: 320px;
$cww: $cw + px;
$wd1: 1699.98 + px;
$wd2: 999.98 + px;
$wd3: 768.98 + px;
$wd4: 499.98 + px;
$wdm: 425.98 + px;