section.hero
  .container
    h1.hero__title Монтаж дымоходов
    .hero__bread-crumbs.bread-crumbs
      a.bread-crumbs__page.ch-1(href="#") Главная 
      .bread-crumbs__arrow.ar-1 
      a.bread-crumbs__page.active.ch-2(href="#") Монтаж дымоходов
      .bread-crumbs__arrow.ar-2
      a.bread-crumbs__page.ch-3(href="#") Камины
      .bread-crumbs__arrow.ar-3 
      a.bread-crumbs__page.ch-4(href="#") Камины облицовки
    .hero__description.
      В <b>Дымоход.ру&nbsp;&nbsp;</b>вам помогут как приобрести, так и установить дымоход любой конфигурации. В нашем монтажном отделе, состоящим из трёх бригад работают квалифицированные специалисты, которые ежегодно проходят курсы повышения квалификации. Все работы проводим качественно и аккуратно, в короткий срок и на совесть .
    .hero__benefits
      .hero__benefits-wrapper
        h2.hero__list-title Lorem ipsum dolor sit amet <b>Lorem ipsum</b>
        ul.hero__list 
          li.hero__item Доступные цены
          li.hero__item Собственное производсвто&nbsp; Дымоходов
          li.hero__item Выполнение необходимых работ, связанных с установкой камина, печи, котла
          li.hero__item Гарантия (от трёх до десяти лет)
          li.hero__item Работаем чисто, аккуратно, убираем за собой, не сквернословим
          li.hero__item Только русские квалифицированные специалисты
          li.hero__item Устанавливаем любые дымоходы всех производителей
      .hero__images 
        .hero__image-wrapper
          img.hero__back-1(loading="lazy" src="img/hero/back-1.png" width="766" height="541" alt="Back")
          img.hero__pipe(loading="lazy" src="img/hero/pipe.png" width="477" height="459" alt="Pipe")
          +svg('dots', 37, 159, 'hero__dots-1')
          +svg('dots', 37, 165, 'hero__dots-2')
          .hero__arrows.hero__arrows-one
          .hero__arrows.hero__arrows-two