.popup
  .popup__content
    .popup_close.close
    p.popup__text 
      span.name 
      |&nbsp;, благодарим вас за сотрудничество! <br>C вами в ближайшее время свяжется наш менеджер по телефону:&nbsp;
      span.tel-phone
