section.reasons 
  .container 
    .mark-up 
    h2 Почему Дымоход.ру?
    .reasons__description В отличие от других производителей, мы ручаемся за качество продукции, т.к. все Дымоходы изготавливаются из качественной стали, проверенного теплоизолятора, по современной технологии плазменной сварки «встык» 
    ul.reasons__list 
      li.reasons__item.cart
        .cart__image 
          +svg('guarantee', 79, 79, 'guarantee')
        h3.cart__title Большой гарантийный срок
        ul.cart__desc
          li.cart__item Крепёж, стыковка элементов – <b>10 лет</b>
          li.cart__item Сквозная коррозия труб – <b>5 лет</b>
          li.cart__item Гидроизоляция – <b>3 года</b>
      li.reasons__item.cart
        .cart__image 
          +svg('architect', 78, 78, 'architect')
        h3.cart__title Помощь в покупке агрегата 
        .cart__desc (печи, камина, котла), а также качественной установке на объекте с последующим гарантийным сервисом
      li.reasons__item.cart
        .cart__image 
          +svg('review', 77, 77, 'review')
        h3.cart__title Реальные отзывы клиентов
        .cart__desc Убедитесь в добросовестности исполнения, прочитав Отзывы клиентов в специальном разделе.