section.stages 
  .container 
    .mark-up 
    h2 Процесс выполнения монтажа
    ul.stages__list
      li.stages__item 
        .stages__num 1
        .stages__text Рассчёт предварительной заявки
      li.stages__item 
        .stages__num 2
        .stages__text Замер объекта нашим инженером
      li.stages__item 
        .stages__num 3
        .stages__text Составление Коммерческого предложения по изделиям дымохода и окончательной сметы на&nbsp;&nbsp;работы 
      li.stages__item 
        .stages__num 4
        .stages__text Изготовление Дымохода, покраска (если требуется)
      li.stages__item 
        .stages__num 5
        .stages__text Монтаж продукции, проверка и наладкапробный запуск системы и последующая эксплуатация
      li.stages__item 
        .stages__num 6
        .stages__text Гарантийное обслуживание по соответствующем сроку
