extends ../layout/default

block content
  include ../components/hero
  include ../components/stages
  include ../components/reasons
  include ../components/consultation
  include ../components/video
  include ../components/photo
  include ../components/popup